@keyframes bounceIn {
  20% {
      transform: scale3d(1.1,1.1,1.1);
  }
  40% {
      transform: scale3d(.9,.9,.9);
  }
  60% {
      transform: scale3d(1.03,1.03,1.03);
  }
  80% {
      transform: scale3d(.97,.97,.97);
  }
  100% {
      transform: scale3d(1,1,1);
  }
}
@keyframes headerNotifyAni{
  from{
      transform: scale(0);
      opacity: 0;
  }
  to{
      transform: scale(1);
      opacity: 1;
  }
}
.showdetail {
  .button {
      padding: 6px 18px 6px 18px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      color: #00c337;
      transition: all 1000ms;
      font-size: 10px;
      position: relative;
      overflow: hidden;
      outline: 2px solid #00c337;
    }
    
    button:hover {
      color: #ffffff;
      transform: scale(1.1);
      outline: 2px solid #70bdca;
      box-shadow: 4px 5px 17px -4px #00da3a;
    }
    
    button::before {
      content: "";
      position: absolute;
      left: -50px;
      top: 0;
      width: 0;
      height: 100%;
      background-color: #00c337;
      transform: skewX(45deg);
      z-index: -1;
      transition: width 1000ms;
    }
    
    button:hover::before {
      width: 250%;
    }
    
}
.delete {
  .button {
      padding: 6px 16px 6px 16px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      color: #ff0000;
      transition: all 1000ms;
      font-size: 10px;
      position: relative;
      overflow: hidden;
      outline: 2px solid #a90000;
    }
    
    button:hover {
      color: #ffffff;
      transform: scale(1.1);
      outline: 2px solid #a20b00;
      box-shadow: 4px 5px 17px -4px #690000;
    }
    
    button::before {
      content: "";
      position: absolute;
      left: -50px;
      top: 0;
      width: 0;
      height: 100%;
      background-color: #a20101;
      transform: skewX(45deg);
      z-index: -1;
      transition: width 1000ms;
    }
    
    button:hover::before {
      width: 250%;
    }
}
.Table_Container {
    margin: auto;
    width: 60%;
    height: 600px;
    border: 5px solid rgb(191, 191, 191);
    border-radius: 10px;
}
.Table_Container h1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-style: 700;
}
.Table_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3.7px;
    padding: 26px;
}
.Table_item {
    position: relative;
    margin: 20px 20px;
    width: 10%;
    height: 10%;
}
.Table_item h2 {
    padding-top: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 0.8vw;
}

.Table-icon {
    padding: 0;
    margin: 0;
    flex: 0 0 25%;
    width: 100%;
    height: 100%;
}

.modal_detailbillorder {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(1,1,1,0.3);
    z-index: 100;
}
.modal_detailbillorder.open {
    display: flex;
}
.detailbill_content {
    position: relative;
    animation: headerNotifyAni linear 0.2s;
    overflow-y: scroll;
    width: 70%;
    height: 90%;
    background-color: #fff;
    scrollbar-width: none;
    background-color: aliceblue;
}
.bill {
    text-align: center;
    padding: 0 60px;
}
.showdetail {
    margin-right: 10px;
    h2 {
        color: #00da3a;
    }
    h3 {
        color: #e92727;
    }
}
.detailbill_content-footer {
    position: absolute;
    width: 100%;
    margin: 20px 0;
    padding: 0 60px;
}
.bill_content-item {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #a2a2a2;
}
.button_checkout_billorder {
    position: absolute;
    right: 45px;
    bottom: 0;
    .comic-button {
        display: inline-block;
        padding: 8px 10px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #ff5252;
        border: 2px solid #000;
        border-radius: 10px;
        box-shadow: 5px 5px 0px #000;
        transition: all 0.3s ease;
        cursor: pointer;
      }
      
      .comic-button:hover {
        background-color: #fff;
        color: #ff5252;
        border: 2px solid #ff5252;
        box-shadow: 5px 5px 0px #ff5252;
      }
      
      .comic-button:active {
        background-color: #fcf414;
        box-shadow: none;
        transform: translateY(4px);
      }
      
}
.btn_addtable {
  position: absolute;
  bottom: 30px;
  right: 30px;
    /* From Uiverse.io by andrew-demchenk0 */ 
.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #3aa856;
    background-color: #3aa856;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
    font-size: 12px;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: #34974d;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2e8644;
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }
}
.detailbill_container_products {
    width: 100%;
    height: 500px;
    background-color: #fff;
    overflow: auto;
}
.detailbill_container_products::-webkit-scrollbar {
    width: 6px; /* Chiều rộng của thanh cuộn dọc */
    height: 6px; /* Chiều cao của thanh cuộn ngang */
  }
  .detailbill_container_products::-webkit-scrollbar-thumb {
    background-color: #c1c1c1; /* Màu của phần tay cầm thanh cuộn */
    border-radius: 10px; /* Bo tròn các góc của thanh cuộn */
  }
.notificeBill {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #424242;
    width: 100px;
    height: 26px;
    font-size: 10px;
    position: absolute;
    top: -35px;
    background-color: #a2a2a2;
    right: -57px;
    background: linear-gradient(
    to bottom left,
    #FED9B7,
    #F07167
  );
    border-radius: 5px;
    animation: bounceIn 3s ease-in infinite, headerNotifyAni ease-in .3s;
    // animation-fill-mode: both;
}
.notificeContent {
    display: none;
}
.notificeContent.open {
    display: flex;
}
.notificeBill::after {
    content: " ";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -23px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 12px 8px;
    border-color: #f28072 transparent transparent transparent;
    color: #fff;
    font-size: 12px;
}
.Table_Container {
    position: relative;
}
.Table_Container-qualitytable {
    font-size: 20px;
    position: absolute;
    right: 20px;
    color: #000;
    font-weight: 600;
}
.detailbill_content-footer_price {
  width: 30%;
  height: 100px;
  padding: 20px;
  background-color: #e7eea4;
}
.price_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .price_container-item {
    font-size: 14px;
    color: #0c46cd;
  }
}
.modal_edittable {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(1,1,1,0.3);
.wrapper_edittable {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
    display: flex; 
    justify-content: center;
    /* flex-direction: column; */
    align-items: center; 
    height: 100vh;
}
/* switch card */
.switch {
  transform: translateY(-200px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.card-side::before {
  position: absolute;
  content: 'Xóa bàn';
  left: -70px;
  top: 0;
  width: 100px;
  text-decoration: underline;
  color: var(--font-color);
  font-weight: 600;
  font-size: 12px;
}

.card-side::after {
  position: absolute;
  content: 'Thêm bàn';
  left: 70px;
  top: 0;
  width: 100px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
  font-size: 12px;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_edittable {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-colorcolor);
  transition: 0.3s;
}

.slider_edittable:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider_edittable {
  background-color: var(--input-focus);
}

.toggle:checked + .slider_edittable:before {
  transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.toggle:checked ~ .card-side:after {
  text-decoration: underline;
}

/* card */ 

.flip-card__inner {
  width: 300px;
  height: 350px;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
    /* width: 100%;
    height: 100%; */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
  transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card__front {
  box-shadow: none;
}

.flip-card__front, .flip-card__back {
  padding: 20px;
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: lightgrey;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}
.createqr_content-type_table {
  width: 100%;
  font-size: 12px;
  height: 30px;
}
.flip-card__back {
  width: 100%;
  transform: rotateY(180deg);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

.flip-card__input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.flip-card__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
} 
}

.modal_edittable.open {
display: block;
}
.bill_content {
  margin: 20px;
  margin-top: 10px;
  height: 430px;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  width: 95%;
  background: #fff;
  overflow-y: auto;
}
.bill_content::-webkit-scrollbar {
  width: 6px; /* Chiều rộng của thanh cuộn dọc */
  height: 6px; /* Chiều cao của thanh cuộn ngang */
}
.bill_content::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* Màu của phần tay cầm thanh cuộn */
  border-radius: 10px; /* Bo tròn các góc của thanh cuộn */
}
.bill {
  margin-top: 20px;
}
.user-bill {
  // margin: 6px;
  margin-left: 20px;
  margin-top: 6px;
}
.price {
  display: flex;
  flex-grow: 1;
}
.item-price, .item-quantity, .item-total {
  text-align: center;
}
.button_container {
  display: flex;
}
.button_container-fake {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 50px;
  bottom: 0px;
  right: 13px;
  z-index: 999;
  transition: opacity 1s ease-in-out;
}
.button_container-fake.open {
  opacity: 1;
  z-index: 1000;
  transition: none;
  will-change: transform, opacity;
}
.card .image-container .price {
  position: absolute;
  right: 0.7rem;
  bottom: -1rem;
  background: white;
  color: var(--accent-color);
  font-weight: 900;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 1rem 1rem 2rem 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;
}
.total-bill {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
.bill_content-item-img {
 flex: 2; 
 img {
  height: 90px;
 }
}
.bill_content-item-product {
  flex: 10;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.bill_content-item-product .Information h3 {
  color: #707070;
}
.Information {
  flex-grow: 2;
  text-align: left;
  width: 50%;
} 