@font-face {
    font-family: 'Poppins';
    src: url('../../Asset/font/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  }
.layout_gid_card {
    padding: 23px 30px 0px 30px;
}
.layout_gid_card_footer {
    padding: 25px 30px 0px 30px;
}
.Layout_header {
    height: 322px;
    border-bottom: 1px solid #d4d4d4;
}
.Card_mobile {
    width: 100%;
    background-color: #fff;
}
.Card_mobile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #333;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.Card_mobile-header-icon {
    display: flex;
    align-items: center;
    position: absolute;
    left: 15px;
    color: #7b7b7b;
}
.Card_ship {
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}
.Product_card-mobile {
    padding-bottom: 20px;

}
.fake_border {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d4d4d4;

}
.Card_ship-deliver {
    margin: 2px;
    padding: 6px 42px;
    background-color: rgb(241, 241, 241);
    color: #333;
    border-radius: 7px;
}
.Card_ship-deliver.active {
    background-color: rgba(199, 125, 77, 1);
    color: #fff;
}
.Card_ship-address {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}
.Card_ship-address-header {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.Card_ship-address-detail {
    color: #333;
    font-size: 20px;
    font-weight: 500;
}
.Card_ship-address_content {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

}
.Card_ship-address-country {
    color: #7b7b7b;
    font-size: 17px;
}
.Card_ship-address_button {
    padding-top: 20px;
    padding-bottom: 26px;
    border-bottom: 1px solid #d4d4d4;

}
.Card_ship-address_button span {
    font-size: 18px;
    padding: 4px 20px;
    border: 1px solid #d2d2d2;
    border-radius: 12px;
}
.Product_card-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // flex-direction: c;
    font-size: 12px;
    padding-top: 20px;
}

.Product_card-item_name {
    padding-left: 12px;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.Product_card-item_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 53px;
    background-color: rgb(176, 176, 176);
    border-radius: 10px; 
    img {
        width: 90%;
        height: 90%;
        object-fit: cover;
    }
}
.note_product_order {
    margin-top: 10px;
    border-radius: 6px;
    height: 40px;
    padding: 6px;
    font-size: 12px;
    display: none;
    width: 100%;
    border: 1px solid #7b7b7b;
}
.note_product_order.open {
    display: block;
}
.Product_card-item_quality {
    display: flex;
    align-items: center;
}
.Product_card-item_quality-icon{
    width: 27px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 2px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
}
.Card_coupon_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #d4d4d4;
    flex-grow: 1;
}
.Card_coupon_container h2 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;

}
.Card_coupon_container-left {
    display: flex;
    align-items: center;
}
.Payment_header {
    padding-top: 20px;
    font-weight: 600;
    font-size: 20px;
}
.Card_checkout-price {
    display: flex;
    justify-content: space-between;
    color: #333;
    font-size: 20px;
    padding-top: 15px;
}
.Card_checkout {
    font-size: 12px;
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Card_checkout-left {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Card_checkout-cash {
    font-size: 12px;
    background-color: rgba(199, 125, 77, 1);
    color: #fff;
    padding: 4px 10px;
    border-radius: 10px;
}
.Card_checkout-left span {
    font-size: 20px;
    font-weight: 600;
}
.Card_checkout > span {
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(160, 160, 160);
    color: #fff;
}
.button_pay_mobile {
    margin: 0;
    margin-top: 16px;
    padding: 16px 22px;
    background-color: rgb(199, 125, 77);
    width: 100%;
    font-size: 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.button_pay_mobile button {
    color: #fff;
    font-weight: 500;
    border: none;
    background: none;
}
.button_pay button {
    color: #fff;
}
.TitleCheckout {
    width: 100%;
    height: 100%;
    text-align: center;
    .rating {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 0.3rem;
        --stroke: #666;
        --fill: #ffc73a;
      }
      
      .rating input {
        appearance: unset;
      }
      
      .rating label {
        cursor: pointer;
      }
      
      .rating svg {
        width: 4rem;
        height: 3rem;
        overflow: visible;
        fill: transparent;
        stroke: var(--stroke);
        stroke-linejoin: bevel;
        stroke-dasharray: 12;
        animation: idle 4s linear infinite;
        transition: stroke 0.2s, fill 0.5s;
      }
      
      @keyframes idle {
        from {
          stroke-dashoffset: 24;
        }
      }
      
      .rating label:hover svg {
        stroke: var(--fill);
      }
      
      .rating input:checked ~ label svg {
        transition: 0s;
        animation: idle 4s linear infinite, yippee 0.75s backwards;
        fill: var(--fill);
        stroke: var(--fill);
        stroke-opacity: 0;
        stroke-dasharray: 0;
        stroke-linejoin: miter;
        stroke-width: 8px;
      }
      
      @keyframes yippee {
        0% {
          transform: scale(1);
          fill: var(--fill);
          fill-opacity: 0;
          stroke-opacity: 1;
          stroke: var(--stroke);
          stroke-dasharray: 10;
          stroke-width: 1px;
          stroke-linejoin: bevel;
        }
      
        30% {
          transform: scale(0);
          fill: var(--fill);
          fill-opacity: 0;
          stroke-opacity: 1;
          stroke: var(--stroke);
          stroke-dasharray: 10;
          stroke-width: 1px;
          stroke-linejoin: bevel;
        }
      
        30.1% {
          stroke: var(--fill);
          stroke-dasharray: 0;
          stroke-linejoin: miter;
          stroke-width: 8px;
        }
      
        60% {
          transform: scale(1.2);
          fill: var(--fill);
        }
      }
      
}