.Card_mobile_detail {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.layout_gid_detail {
    padding: 34px 30px 0px 30px;
}
.Card_mobile-header_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-bottom: 22px;
    a {
        color: #a5a5a5;
    }
}
.Detail_mobile-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: rgb(176, 176, 176);
    border-radius: 20px;

}
.content_showcomment-item_comment {
    p {
        padding: 10px;
        opacity: 1;
        margin-bottom: 0px;
    }
}
.content_showcomment-item_rep-comment {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #ebebeb;
    margin-bottom: 10px;
    p {
        opacity: 1;
        padding: 0 10px;
        margin: 0;
    }
}
.Detail_mobile-img img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.Detail_mobile-noti {
    font-size: 12px;
    padding-top: 20px;
}
.Detail_mobile-noti h2{
    font-weight: 600;
}
.Detail_mobile-star {
    display: flex;
    justify-content: space-between;
    color: #333;
    padding-top: 10px;
    font-size: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d4d4d4;

}
.Detail_mobile-star > span {
    padding-left: 6px;
}
.Detail_mobile-descrip {
    padding-top: 14px;
}
.Detail_mobile-descrip h2 {
    font-weight: 600;
}
.Detail_mobile-descrip span {
    color: #a5a5a5;
}
.Detail_mobile-size {
    padding-top: 15px;
}
.Detail_mobile-size-container {
    padding-top: 6px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.Detail_mobile-size-container span {
    padding: 10px 42px;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
}
.Detail_mobile-pay-container {
    font-size: 16px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}
.Detail_mobile-pay-price {
    display: flex;
    flex-direction: column;
}
.Detail_mobile-pay button {
  padding: 10px 60px;
  color: #fff;
  background-color: rgba(199, 125, 77, 1);
  border-radius: 10px;
}
.Detail_mobile-showcomment {
    border-top: 1px solid #969696;
    margin-top: 20px;
}
.content_showcomment-item-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
}
.content_showcomment-info {
    display: flex;
    margin-top: 5px;
}