.createqr_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button_createqr {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: rgb(3, 175, 0);
}
.Qr_content {
    display: none;
}
.Qr_content.open {
    display: block;
}
.createqr_content {
    font-size: 18px;
}
.createqr_content-type {
    margin: 5px;
}
.createqr_content-table {
    margin: 5px;
}